/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.main-container {
    width: 75%;
    margin:auto;

}
.container {
    margin:0;
    padding:15px
}