#day-buttons {
    padding: 10px 0 50px;
    text-align: center;
}

#forecast-resume {
    margin:25px 0;
}


/* @include media-breakpoint-up(sm) {
    .custom-class {
        font-size: 1.4em;
    }
} */

.forecast-item {
    text-align: center;
}

.forecast-item:nth-child(2n) {
    background-color: rgba(0,105,148,0.05);
}

.red {
    fill: #A21E4D;
}

.yellow {
    fill: #D8AA00;
}

.green {
    fill: #95A844;
}