#day-buttons {
    padding: 10px 0 50px;
    text-align: center;
}

#forecast-resume {
    margin:25px 0;
}

.forecast-item {
    font-size: 0.7em;
    text-align: center;
}

.forecast-item:nth-child(2n) {
    background-color: rgba(0,105,148,0.05);
}

.forecast-item-date span {
    display: block;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0,105,148,1)
}

.red {
    fill: #A21E4D;
}

.yellow {
    fill: #D8AA00;
}

.green {
    fill: #95A844;
}