
<div class="row">
    <div class="col-sm">
      <div style="display: block;">
        <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>

      <div>
        <ul>
          <li *ngFor="let item of data"><span><img [ngStyle]="{'transform':'rotate(' + item.windDirection + 'deg)'}" src="http://www.iconarchive.com/download/i97281/iconsmind/outline/Triangle-ArrowUp.ico"/></span>{{item.windDirectionComponent}} {{item.windDirection}}</li>
        </ul>
      </div>

      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="dd-mm-yyy" name="dp" [(ngModel)]="pdate" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    
    <button type="button" class="btn btn-primary" (click)="getForecastToday()">Today</button>
    <button type="button" class="btn btn-primary" (click)="getForecastTomorrow()">Tomorrow</button>
  </div>
</div>