<div class="container">
    <div class="row">
        <div class="col-12 title">
            <h1>Ona BCN</h1>
        </div>
    </div>

    <ng-container *ngFor="let language of languageList">
        <a href="/{{language.code}}/index.html">
            <button class="button">{{language.label}}</button>
        </a>
    </ng-container>

    <!-- <div class="row">
        <div class="col-12">
            <app-current-time></app-current-time>
        </div>
    </div> -->

    <div class="row">
        <div class="col-12">
            <app-forecast-chart></app-forecast-chart>
        </div>
    </div>
</div>